.container {
    height: 500px;
    max-width: 500px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}

.div-1,
.div-2,
.div-3 {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.div-1 {
    background-color: cornflowerblue;
}

.div-2 {
    background-color: goldenrod;
}

.div-3 {
    background-color: tomato;
}